* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/freedom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100vh;
  width: 100vw;  
  padding-bottom: 2.5rem;
  padding-top: 4rem;
  text-align: center;
}

.quote {
  font-family: 'Raleway', serif;
  font-size: 1.75rem;
  font-variant-caps: small-caps;
  text-align: center;
  color: #444359;
  margin: auto 2rem;
  }

.name {
  font-family: 'Shadows Into Light', serif;
  font-size: 1.75rem;
  font-variant-caps: small-caps;
  color: #444359;
  margin-top: 2rem;
 }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  text-align: center;
 }

nav a {
  font-family: 'Raleway', serif;
  font-size: 1.25rem;
  font-variant-caps: all-small-caps;
  font-weight: 700;
  color: #444359;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

nav a:hover {
  color: black;
  transition: color .15s ease-in-out;
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 10rem;
  }
  
  .quote, .name {
    font-size: 3.5rem;
    }
  
  nav a {
    font-size: 2rem;
  }
}
